<!DOCTYPE html><html>
	<head>
		<meta charset="utf-8">
		<title>src.techknowlogick.com</title>
	</head>
	<body>
		<div>packages:<ul>
		{{range .}}
			<li><a href="{{ .Path }}">src.techknowlogick.com{{ .Path }}</a></li>{{end}}
		</ul></div>
	</body>
</html>
